#container {
  background-color:;
  display: flex;
}
.hidden {
  opacity: 0;
  -webkit-transition:   opacity 0.5s ease;
  -moz-transition:  opacity 0.5s ease;
  -ms-transition:  opacity 0.5s ease;
  -o-transition:  opacity 0.5s ease;
  transition:  opacity 0.5s ease;
  transition-delay:0.2s;
}

.visible {
  opacity: 1;
  -webkit-transition:   opacity 0.5s ease;
  -moz-transition:  opacity 0.5s ease;
  -ms-transition:  opacity 0.5s ease;
  -o-transition:  opacity 0.5s ease;
  transition:  opacity 0.5s ease;
  transition-delay:0.2s;
}

.Bhidden {
  opacity: 0.5;
  -webkit-transition:   opacity 0.1s ease;
  -moz-transition:  opacity 0.1s ease;
  -ms-transition:  opacity 0.1s ease;
  -o-transition:  opacity 0.1s ease;
  transition:  opacity 0.1s ease;
  transition-delay:0.1s;
}

.Bvisible {
  opacity: 1;
  -webkit-transition:   opacity 0.1s ease;
  -moz-transition:  opacity 0.1s ease;
  -ms-transition:  opacity 0.1s ease;
  -o-transition:  opacity 0.1s ease;
  transition:  opacity 0.1s ease;
  transition-delay:0.1s;
}

body {
  background-color: Darkblue;
}
.flash {
  opacity: 1;
  -webkit-transition:   opacity 0.1s ease;
  -moz-transition:  opacity 0.1s ease;
  -ms-transition:  opacity 0.1s ease;
  -o-transition:  opacity 0.1s ease;
  transition:  opacity 0.1s ease;
  transition-delay:0.1s;
  background-color: white !important;
}
#block1 {
  background-color: #3399ff;
  margin: 0px auto;
  position: relative;
  top: 50px;
  left: -120px;
  width: 200px;
  height: 200px;
}
#block2 {
  background-color: #0066cc;
  margin: 200px auto;
  position: relative;
  top: -150px;
  left: 80px;
  width: 200px;
  height: 200px;
}
#block3 {
  background-color: #3333ff;
  margin: 0px auto;
  position: relative;
  top: -750px;
  left: 80px;
  width: 200px;
  height: 200px;
}
#block4 {
  background-color: #3366cc;
  margin: 0px auto;
  position: relative;
  top: -750px;
  left: -120px;
  width: 200px;
  height: 200px;
}
.game {
  font-size: 60px;
  margin-top: 8px;
  color: DarkBlue

}
.gameboard {
  list-style-type: none;
  background-color: Blue;
  margin: 200px auto;
  position: 300px;
  width: 900px;
  height: 500px;
}

.rules {
  background-color: white;
  margin: 200px auto;
  padding: 10px;
  width: 500px;
  height: 285px;
  font-family: 'Helvetica Neue';
  text-align: center;
}



#disappear {
  background-color: white;
  margin: 200px auto;
  padding: 10px;
  width: 0px;
  height: 0px;
  font-family: 'Helvetica Neue';
  text-align: center;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 35px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

@media screen and (max-width: 980px) {
  #pagewrap {
      width: 94%;
  }
  #content {
      width: 65%;
  }
  #sidebar {
      width: 30%;
  }
}




